.header-container{
    width: 100%;
    min-height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2e4790;
}

header{
    width: 100%;
    max-width: 1900px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 20px;
}

nav{
  display: flex;
  
}
ul{
  display: flex;
  gap: 50px;
}
li{
  display: flex;
 ;
}
li > a{
 
  font-family: HelveticaNeue;
  font-size: 18px;
  
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
  text-decoration: none;
}

.icons-container{
   display: flex;
   align-items: center;
   gap: 20px;
}
.icons-container > button{
    width: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
  height: 36px;
  border-radius: 50%;
  border: none;
}

.icons-container > button.flag {
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
}

.cart-btn{
  position:relative;
  border:none;
  background:white;
  cursor:pointer;
}

.quantity{
  position:absolute;

  top:-8px;
  right:-8px;

  width:20px;
  height:20px;

  background:red;
  color:white;

  border-radius:50%;

  display:flex;
  align-items:center;
  justify-content:center;

  font-size:12px;
  font-weight:bold;
}

.flag{
  
  display: flex;
  align-items: center;
  justify-content: center;
   background-color: transparent;

   border-radius:50%;
   border:1px solid red;

   cursor:pointer;
}

.categoty-buttons{
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 40px;
}
.categoty-buttons > button{
  width:120px;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  padding: 20px;
  height: 16px;
  flex-grow: 0;
  font-family: HelveticaNeue;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  border-radius: 20px;
  border: none;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  background-color: #d2d2d2;
 color: #686868;
}
.categoty-buttons > button:hover{
   background-color: #2e4790;
  color:white;
 
}

.products-container{
    width: 100%;
    max-width: 1900px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 0 20px 40px;
   
    min-height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    gap: 40px;
}

.card{
  width: 200px;
  height: auto;
  background-color: white;
  padding: 20px;
 


  border-radius: 20px;
}
.video-cart-buttons{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.video-btn{
  border-radius: 50%;
    background-color: rgba(46, 71, 144, 0.23);
    width: 25px ;
    height: 25px;
    border: none;
    cursor: pointer;
}

.cart-add{
   border-radius: 50%;
    background-color: rgba(46, 71, 144, 0.23);
    width: 25px ;
    height: 25px;
     border: none;
    cursor: pointer;
}
.product-image{
  display: flex;
  align-items: center;
  justify-content: center;
}

.category{

  font-family: HelveticaNeue;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #7d7d7d;
}
.name{
   
  font-family: HelveticaNeue;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #1a1a1a;
  margin-top: 5px;
}
.prices-container{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 5px;
 
}
.new-price{
  background-color: yellow;
  padding: 10px;
   width: 60px;
  
  font-family: HelveticaNeue;
  font-size: 17.8px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.68;
  letter-spacing: normal;
  text-align: left;
  color: #474747;
}

.old-price{
 
  font-family: HelveticaNeue;
  font-size: 17.8px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.97;
  letter-spacing: normal;
  text-align: left;
  text-decoration: line-through;
  color: #c3c3c3;
}

.buy-quntiy-container{
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.quantity-ls{
 
  width: 50.8px;
  height: 29.4px;
  margin: 6.6px 7.1px 0 3.9px;
  padding: 5.3px 13.4px 5.1px 11.6px;
  border-radius: 89.1px;
  background-color: #f2f2f2;
  border: none;
}
.buy-quntiy-container > button{
    width: 94.5px;
    height: 29.4px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8.9px;
    margin: 6.6px 3.6px 0 7.1px;
    padding: 2.7px 21.4px;
    border-radius: 89.1px;
    background-color: #2e4790;
    border: none;
    color: white;

    white-space: nowrap;
}

.footer-container {
  width: 100%;
  background-color: #2e4790;
  padding: 60px 20px;
}

.footer {
  max-width: 1200px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  gap: 40px;
}


.footer-logo {
  flex: 1;
  display: flex;
  justify-content: flex-start;
}


/* CENTER */
.footer-time-cnt {
  flex: 1;

  display: flex;
  flex-direction: column;
  gap: 35px;

  align-items: center;
  justify-content: center;
}

.footer-time {
  display: flex;
  align-items: center;
  gap: 30px;
}

.footer-time > p {
  margin: 0;
  color: #fff;
  font-family: HelveticaNeue;
  line-height: 1.4;
}

.head {
  font-size: 16px;
}

.time {
  font-size: 15px;
  white-space: nowrap;
}

/* RIGHT */
.social-links-container {
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
}

.circle-link-phone {
  display: flex;
  align-items: center;
  gap: 15px;
}

.circle-link {
  width: 38px;
  height: 38px;

  border-radius: 50%;
  background-color: #ffffff20;

  display: flex;
  align-items: center;
  justify-content: center;

  flex-shrink: 0;
}

.whatsapp {
  background-color: #25d366;
}

.number {
  margin: 0;

  color: #fff;
  font-size: 14px;
  font-family: HelveticaNeueLTGEO-55Roman;
  line-height: 1.4;
}


